<app-lp-banner></app-lp-banner>
<button type="button" class="btn shippingbtn d-block d-sm-none"> We Care. We Serve. We Deliver.
</button>
<div class="container my-5">
  <app-lp-product-list [products]="products_by_taxons$ | async" [dealsType]="dealsType" [dealsId]="taxons_id"> </app-lp-product-list>
  <app-lp-product-list [products]="favoriteProducts$ | async" dealsType="Trending Now" [dealsId]="taxons_id"> </app-lp-product-list>
  <app-lp-product-list [products]="products$ | async" dealsType="Top Rated Products" [showRating]="true" [dealsId]="taxons_id">
  </app-lp-product-list>
  <app-lp-promo> </app-lp-promo>
  <!-- <app-lp-brands [brands]="brands$ | async"></app-lp-brands> -->
</div>