<div class="container">
  <div id="content" class="col-md-12 center-column content-with-background px-0">
    <h2 class="my-3">Privacy Policy</h2>
    <div class="row">
      <div class="col-sm-12">
        <p>By using and/or availing information, application and services (collectively referred to as the “Services”) from
          <br>https://www.examarble.com (the “Website”), you understand and hereby agree to access the Services by accepting these website terms and conditions and Privacy Policy. Please read the Terms carefully before accessing the Website and the Services. If you do not agree to abide by the Terms, please do not use the Website or Services.
          <br>
          <h4> Proprietary Rights</h4>
          <p> You acknowledge and agree that EXA Marble and its Owner company namely EXA Marble 
            (hereinafter referred to as Website owner) own all legal right, title and interest 
            in and to the Services, including any intellectual property rights which subsist 
            in the Services (whether those rights are registered or not). You further acknowledge 
            that the Services may contain information which is designated confidential by Website 
            owner and that you shall not disclose such information without Website owners prior 
            written consent.
            <br>

            <h4> Usage of the Website and Proprietary Materials</h4>
            <p>Subject to the Terms set forth herein, Website owner grants you a non-exclusive, non-transferable, 
              limited right to access and use the Website and the content therein.You hereby agree to register to 
              become a member of the Website only if you are of sufficient legal age and can enter into binding contracts. 
              You are responsible for maintaining the secrecy of your passwords, login name/user-id and account information 
              at all times and you shall be personally responsible for any and all use of the Website by you and anyone using 
              your login information and password whether with or without your permission.
              <br>
              <br>
              You may use the Website only for following purposes:
              <br>  
              This website and its content is maintained for informational purposes only enhancing public access to information about EXA Marble and its Owner Company.
              <br>
              <br>
              You will not use the Website:
              <br>
              1.  for any purpose that is unlawful, illegal or forbidden by law
              <br>
              2. to remove any copyright and other proprietary notices contained in any content on the Website
              <br>
              3. to transfer the content to any other person unless you give such person notice of, and such person agrees to accept, the obligations arising under these Terms
              <br>
              4. to copy, decompile, reverse engineer, or otherwise attempt to discover any source code, sell, assign or otherwise transfer any intellectual property in the Services other than as agreed in the Terms
              <br>
              5. in any manner other than as agreed in the Terms
              <br>
              <br>
              You hereby agree to comply with all applicable laws as well as abide by all additional restrictions displayed on the Website and the Terms as may be updated from time to time. Website owner may, at its sole discretion, at any time and without prior notice or liability, suspend, terminate or restrict your access to all or any component of the Website and the Services
              <br>  
              
              <h4>Links to Third Parties</h4>
              <p>As a matter of convenience to you, Website owner may provide links to various third party 
                websites on the Website. If you use any of these external websites, you may be directed/redirected 
                to such external website and may leave the Website. If you decide to visit any such external link, 
                you agree to do so at your own risk, responsibility and liability. Website owner makes no warranty 
                or representation regarding, and does not endorse, any website linked to the Website or the 
                information appearing thereon or any of the products or services described thereon. 
                Website owner does not endorse or represent any service provider listed on the Website

                <br>
                <h4>Our Partners</h4>
                <p> Website owner may in the future, partner with various third parties (including their affiliates) 
                  for the provision of Services. Any display of third party services offered through the 
                  Website does not in any way imply, suggest, or constitute any reputation, sponsorship or approval 
                  of Website owner by any such third parties. Website owner’s display of specific options does not 
                  suggest any recommendation or endorsement by Website owner of the third party services. 
                  You agree that Website owner is in no way responsible for the accuracy, timeliness or completeness 
                  of information it may obtain from these third parties and which may be posted on the Website and as 
                  may be amended from time to time. Your interaction with any third party accessed through the Website 
                  is at your own risk, and Website owner will have no liability with respect to the acts, omissions, 
                  errors, representations, warranties, breaches or negligence of any such third parties or for any 
                  personal injuries, death, property damage, or other damages or expenses resulting from your 
                  interactions with such third parties or availing any services from such third parties
                </p>
                <h4>Warranty Disclaimer</h4>
                <p> The Website and Services provided on the Website are provided on an “AS IS” and “AS 
                  AVAILABLE” basis. Website owner expressly disclaims all warranties of any kind, 
                  whether express or implied, including, but not limited to, the implied warranties of 
                  merchantability, fitness for a particular purpose, title, non-infringement, and security and 
                  accuracy, as well as all warranties arising by usage of trade, course of dealing, or course of 
                  performance
                  <br>
                  <br>
                  Website owner makes no warranty, and expressly disclaims any obligation, that: 
                  <br>
                  (a) the Website content will be up-to-date, complete, comprehensive, accurate or applicable to your circumstances; 
                  <br>
                  (b) the Website will meet your requirements or will be available on an uninterrupted, timely, secure, or error-free basis; 
                  <br>
                  (c) the results that may be obtained from the use of the Website or Services offered through the Website will be accurate or reliable; or 
                  <br>
                  (d) the quality of any products, services, information, or other material obtained by you through the Website will meet your expectations.
                  <br>
                  <br>
                  The Website content may contain inaccuracies and typographical errors. Website owner does not warrant the accuracy or completeness of any such content or the reliability of any advice, opinion, statement, memorandum or other information displayed or distributed through the Website. You acknowledge that any reliance on any such opinion, advice, statement, memorandum or information shall be at your sole risk. Website owner does not endorse or represent any partner or service provider listed on this Website.
                  <br>
                </p>
                <h4>Limitation of Liability</h4>
                <p> Website owner (including its officers, directors, employees, representatives, affiliates, 
                  partners and providers) will not be responsible or liable for 
                  <br>
                  <br>
                  (a) any injury, loss, claim, 
                  act of god, accident, delay, or any direct, special, exemplary, punitive, indirect, incidental or 
                  consequential damages of any kind (including without limitation lost profits or lost savings), 
                  whether based in contract, tort, strict liability or otherwise, that arise out of or is in any 
                  way connected with:
                  <br>
                  (i) any failure or delay (including without limitation the use of or inability 
                  to use any component of the Website or the Services), or 
                  <br>
                  (ii) any use of the Website or content, 
                  or 
                  <br>
                  (iii) the performance or non performance by us or any partner or service provider, even if we have 
                  been advised of the possibility of damages to such parties or any other party, or 
                  <br>
                  <br>
                  (b) any damages 
                  to or viruses that may infect your computer equipment or other property as the result of your 
                  access to the Website or your downloading of any content from the Website.
                  <br>
                <h4>Indemnification </h4>
                <p>You agree to defend, hold harmless and indemnify Website owner, its directors and officers from and against any and all losses, costs, expenses, damages or other liabilities incurred by Website owner and/or its directors and officers, from and against any cost, liability, loss, damage, cause of action, claim, suit, proceeding, demand or action brought by a third party against Website owner and/or its directors and officers, due to or arising out of or in connection with Your use of the Website or Content or Your breach of any provision of the Terms, or any negligent or intentional wrongdoing on Your part
                </p>
                <h4>Registration and Subscription</h4>
                <p>You can access only certain parts of the Website without registration/ subscription as determined by Website owner from time to time. Website owner, in its sole discretion, may provide certain additional features or services on the Website
                  <br>
                  <br>
                  1. absolutely free of cost; or
                  <br>
                  <br>
                  2. partly free and partly by levy of a charge/fee (e.g. demo for a particular time period); or
                  <br>
                  <br>
                  3. in consideration of a subscription fee
                  <br>
                  <br> Before availing such additional services, Website owner may require you to first register with the Website by creating a login name and password and accept certain additional terms and conditions in addition to these Terms and Privacy Policy as applicable
                  <br>
                  <br>
                </p>
                <h4>Trademark</h4>
                <p>The EXA Marble logos and marks appearing in this site are registered and/or pending registration in the name of EXA Marble or are used under license by its affiliates in the areas where EXA Marble markets products bearing these trademarks. The use or misuse of these trademarks or any other content on this site is strictly prohibited.
                </p>
                <br>
                <br>
                <h4>Copyright</h4>
                <p>The copyright in the material on this website belongs to EXA Marble and may be copied and used only for personal and non-commercial purposes (except as previously authorized in writing by EXA Marble).
                </p>
                <br>
                <br>
                <h4>Additional Terms and Conditions</h4>
                <p>The copyright in the material on this website belongs to EXA Marble and may be copied and used only for personal and non-commercial purposes (except as previously authorized in writing by EXA Marble).
                  <br>
                  <br>
                  1. You may not assign or otherwise transfer your rights or obligations under these Terms. Website owner may assign its rights and duties under these Terms without any such assignment being considered a change to the Terms and without any notice to you. If we fail to act on your breach or anyone else’s breach on any occasion, we are not waiving our right to act with respect to future or similar breaches
                  <br>
                  <br>
                  2. Usage of the Website following the posting of notice of any modification will be subject to the Terms in effect at the time of your usage. If you object to these Terms or any subsequent modifications to these Terms or become dissatisfied with the Website and/or the Services in any way, your only recourse is to immediately terminate use of the Website and/or the Services
                  <br>
                  <br>
                  3. If any of these Terms is found to be unenforceable or invalid by a court of competent jurisdiction, that Term will be enforced to the fullest extent permitted by applicable law and the other Terms will continue to remain valid and enforceable.
                  <br>
                  <br>
                  4. The laws of India, without regard to its conflict of laws rules, will govern these Terms, as well as your and our observance of them. If you take any legal action relating to your use of the Website or these Terms, you agree to file such action only in the courts located in Kishangarh (Rajasthan) India. In any such action or any action we may initiate, the prevailing party will be entitled to recover all legal expenses incurred in connection with the legal action, including but not limited to costs, both taxable and non-taxable, and reasonable attorney fees.
                  <br> 
                  <br>
                  This Website does not use cookies. If there is any change to the above said Privacy Policy we shall post it on our website. If at any time you have any comments on these principles you may notify EXA Marble Owned by Company namely EXA Marble through the contact us page.
                  <br> 
                  <br>
                  You acknowledge that you have read and have understood these Terms, and that these Terms have the same force and effect as a signed agreement.
                  <br>
                  <br>
                </p>
                <br>
                <br>
      </div>
    </div>
  </div>
</div>
