<div class="main-content container my-4 my-4">
  <div id="content" class="col-md-12 center-column content-with-background  px-0">
    <div class="about-section">
      <h1>About Us Page</h1>
      <p>EXA Marble is the leading Indian conglomerate and a global trendsetter in the world of Natural Stone.</p>
      <br>
      <p>The choice of undertaking the paths less travelled has made all the difference in the success story of EXA Marble. The company was established in a simple warehouse at Kishangarh, Rajasthan, in 1994, and ever since has been raising the bar with its quality products and superior services.
      </p>
      <br>
      <p>Today, EXA Marble, with a keen aptitude for innovation and skill, inclination towards concurrent technological advancements has emerged as an undisputed leader in marble mining, processing, and research and technology development across the India.
      </p>
      <br>
      <p>Today we have strong & efficient suppy chain helping us to deliver world class Marble & Granite all over India</p>
    </div>
    <br>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../../../../assets/custom/Abhishek.png" alt="Abhishek" style="width:100%">
          <div class="container">
            <h2>Abhishek Jain</h2>
            <p class="title">CEO & Founder</p>
            <p>After completing graduation in Chemical Science from Indian Institute of Technology, Mr. Abhishek Jain honed his skills in technology & finance with Morgan Stanley, a leading Investment Banking firm at Mumbai. 
              Now he is establishing EXA Marble as the most recognized marble brand in the architectural sector. 
              He brought with himself, a global perspective and directional orientation to the management of the company. 
              His genius led the company to revisit their mining policy to import quality marble from around the world. 
              His prescient intuitiveness has progressed EXA Marble towards becoming the largest supplier of indian & imported marble. 
              An avid traveler and a true explorer at heart, Mr. Abhishek Jain is playing a pivotal role in establishing EXA Marble's footprints in all over India and because of his innovative thinking and ability to take strong decisions make him The Pillar of Innovation of EXA Marble.</p>
            <p><button class="button"><a href="https://wa.me/919082073532">
              <i class="fa fa-whatsapp" aria-hidden="true"></i> Chat on Whatsapp
            </a></button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../../../../assets/custom/Abhishek.png" alt="Aman" style="width:100%">
          <div class="container">
            <h2>CA Aman Jain</h2>
            <p class="title">COO</p>
            <p>After completing his profession degree of Charted Accountant from The Institute of Chartered Accountants of India, Mr. Aman Jain honed his skills in accounting & business management with a leading Indian Investment Banking firm at Mumbai. 
              Now he is establishing EXA Marble as the most recognized marble brand in the architectural sector. 
              He brought with himself, a global perspective and directional orientation to the management of the company. 
              His genius led the company to revisit their mining policy to import quality marble from around the world. 
              His prescient intuitiveness has progressed EXA Marble towards becoming the largest supplier of indian & imported marble. 
              An avid traveler and a true explorer at heart, Mr. Aman Jain is playing a pivotal role in establishing EXA Marble's footprints in all over India and because of his innovative thinking and ability to take strong decisions make him The Pillar of Innovation of EXA Marble.</p>
            <p><button class="button"><a href="https://wa.me/919082073532">
              <i class="fa fa-whatsapp" aria-hidden="true"></i> Chat on Whatsapp
            </a></button></p>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <img src="../../../../assets/custom/Abhishek.png" alt="Aman" style="width:100%">
          <div class="container">
            <h2>CA Sakshi Jain</h2>
            <p class="title">CFO</p>
            <p>After completing her profession degree of Charted Accountant from The Institute of Chartered Accountants of India, Miss Sakshi Jain honed her skills in accounting with a leading Accounting firm at Bengaluru. 
              Now she is establishing EXA Marble as the most recognized marble brand in the architectural sector. 
              She brought with himself, a global perspective and directional orientation to the management of the company. 
              Her genius led the company to revisit their business policy to import & export quality marble from around the world. 
              Her prescient intuitiveness has progressed EXA Marble towards becoming the largest supplier of indian & imported marble. 
              An avid traveler and a true explorer at heart, Miss Sakshi Jain is playing a pivotal role in establishing EXA Marble's footprints in all over India and because of his innovative thinking and ability to take strong decisions make him The Pillar of Innovation of EXA Marble.</p>
            <p><button class="button"><a href="https://wa.me/919082073532">
              <i class="fa fa-whatsapp" aria-hidden="true"></i> Chat on Whatsapp
            </a></button></p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
